
.form-container {
    display: none;
    position: fixed;
    top: 120px;
    right: 300px;
    z-index: 9999;
    background-color: rgb(198, 188, 188);
    width: 50%;
    padding-bottom: 30px;
    border: 5px solid rgb(60, 57, 57);
    border-radius: 20px;
}

.show {
    display: block;
    animation: fadeIn 0.4s ease;
}
.form-container form{
    margin: 50px;
}
.form-container button{
    display: block;
    margin-left: 100px;
    line-height: 2rem;
    width: 100px;
    background-color: #b69b9b;
    border: none;
    color: rgb(0, 0, 0);
}
.form-container button:hover{
    color: blue;
}
.form-container input{
    width: 450px;
    line-height: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0.5px solid gray;
}
.close-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}