@font-face{
    font-family: "uni";
    src: url(fonts/Univers\ LT\ Std\ 45\ Light.otf);
}

*{
    margin: 0;
    padding: 0;
    font-family: "uni";
    color: white;
}

header{
    margin: none;
    padding: none;
    background-color: rgb(164, 176, 5);
    height: 54px;
}
.logo-container{
    display: block;
    height: 30px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: right;
    margin-left: 93%;
    width: 5%;
}
.h-logo{
    padding-top: 10px;
    height: 35px;
}
/*-------------------------------------- navigation bar-------------------------- */
.nav{
    display: flex;
    height: 64px;
    transition: all .5s;
    width: 100%;
    position: fixed;
    background-color: rgb(75, 65, 65);
    transition: 0.5s ease;
    
}
.fixed-nav{
    display: flex;
    width: 100%;
    position: fixed;
    top: -10px;
    transition: 0.5s ease;
}

.nav-container{
    padding-top: 15px;
    padding-left: 30px;
    width: 75%;
    display: flex;
    justify-content: space-around;
    font-size: 0.9rem;
    transition: all .5s;
}

ul{
    list-style: none;
}

.item{
    padding-top: 13px;
    padding-left: 25px;
    padding-right: 5px;
   
   
}
.nav-container li .dropdown{
    position: absolute;
    top: 63px;
    background-color: rgb(255, 255, 255);
    width: 800%;
    height: 500%;
    left: 0px;
    visibility: hidden;
    opacity: 0;
    
}
.nav-container li .dropdown a{
    color: black;
}
.nav-container li .dropdown a:hover{
    color: brown;
}
.nav-container li:hover .dropdown{
    visibility: visible;
    opacity: 1;
}
.nav-buttons{
    display: flex;
    justify-content: space-around;
    margin-left: 19%;
    width:200px;
    padding-top: 23px;
}

.restaurant-logo{
    width: 68px;
    height: 55px;
    margin-top: -7px;
    margin-left: -5px;
}
.search-logo{
    height: 25px;
    mix-blend-mode: multiply;
}
.sign-in-btn{
    background-color: rgb(55, 85, 217);
    height: 27px;
    width: 100px;
    border-radius: 15px;
    border: none;
    color: white;
    letter-spacing: 0.15rem;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sign-in-btn:hover{
    background-color: rgba(55, 85, 225, 0.7);
    
}
button,.item,.search-logo:hover{
    cursor: pointer;
    
}
/*-------------------------------------------- BODY HTML'S CSS------------------------------ */
.welcome-img{
    display: block;
    margin: auto;
    width: 90%;
    height:550px;
}
.sec-one{
    margin-top: 64px;
}


/*-------------------------------------------- FOOTER HTML'S CSS------------------------------ */
footer{
    display: flex;
    background-color: rgb(164, 176, 5);
    height: 200px;
    margin-top: 50px;
    color: rgb(26, 83, 182);
}
.footer-logo{
    padding-top: 50px;
    padding-left: 50px;
}
.f-logo{
    width: 100px;
}
.details{
    margin-left: 20px;
    margin-top: 40px;
    line-height: 2rem;
}
.payment-methods{
    margin-left: 20px;
    margin-top: 40px;
    line-height: 2rem;
}