@font-face{
    font-family: "uni";
    src: url(fonts/Univers\ LT\ Std\ 45\ Light.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "uni";
    color: rgb(0, 0, 0);
}

header{
    margin: none;
    padding: none;
    background-color: rgb(164, 176, 5);
    height: 54px;
    display: flex;
    justify-content: right;
}

.logo-container{
    display: block;
    height: 30px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: right;
    margin-left: 93%;
    width: 5%;
}
.h-logo{
    padding-top: 10px;
    height: 35px;
}
.nav-buttons{
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    margin-left: 40px;
    width: 150px;
    padding-top: 19px;
    transition: all 0.5s;
}
/*-------------------------------------- navigation bar-------------------------- */
.nav{
    display: flex;
    height: 64px;
    width: 100%;
    position: fixed;
    background-color: rgb(186, 179, 179);
    
}
.fixed-nav{
    display: flex;
    width: 100%;
    position: fixed;
    top: -10px;
}

.nav-container{
    padding-top: 15px;
    padding-left: 30px;
    width: 100%;
    display: flex;
    justify-content:space-between;
}

ul{
    list-style: none;
}

.item{
    width: 142px;
    height: 42px;
    padding-top: 21px;
    padding-left: 10px;
    margin-top: -14px;
    text-align: center;
}
.item:hover{
    background-color: white;
}
.nav-container li a{
    font-family: "Montserrat";
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1rem;
    color: black;
    text-decoration: none;
}

.nav-container li .dropdown{
    position: relative;
    top: 23px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: auto;
    visibility: hidden;
    opacity: 0;
    cursor: default;
    border-radius:0px 0px 10px 10px;
    
}

.nav-container li .dropdown a{
    display: block;
    font-size: 0.9rem;
    text-align: left;
    position: relative;
    line-height: 40px;
    padding-left: 10px;
    width: auto;    
    font-family: "Playfair+Display";
    font-size: 1rem;
    font-weight: normal;
}
.nav-container li .dropdown a:hover{
    color: brown;
    background-color: rgb(211, 186, 186);
    border-radius: 10px;
    padding-left: 20px;
}
.nav-container li:hover .dropdown{
    visibility: visible;
    opacity: 1;
}


.restaurant-logo{
    width: 70px;
    height: 63px;
    margin-top: -14px;
    margin-left: -16px;
}
.search-logo{
    height: 25px;
    mix-blend-mode: multiply;
}
.sign-in-btn{
    background-color: rgba(55, 85, 225, 0);
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    letter-spacing: 0.15rem;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: -18px;
}
.sign-in-btn:hover{
    background-color: rgba(55, 85, 225, 0.7);
    
}
button,.item,.search-logo:hover{
    cursor: pointer;
    
}

/*-------------------------------------------- BODY HTML'S CSS------------------------------ */
.welcome-img{
    display: block;
    margin: auto;
    width: 100%;
    height: 520px;
    object-fit: cover;
}
.sec-one{
    margin-top: 64px;
}
.slider{
    display: flex;
    justify-content: space-between;
    visibility: hidden;
    opacity: 0;
}
.sec-one:hover .slider{
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease;
    
}
.slider-r,.slider-l{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    position: relative;
    top: -300px;
    margin: 20px;
    border-radius: 50%;
    border: none;
    width: 40px;
    text-align: center;
    background-color:rgba(71, 74, 83, 0.7)
}
.sec-two{
    background-color: #f0e7e7;
    display: flex;
    height: 300px;
}
.hr{
    width: 2px;
    height: 280px;
    background-color: #595353;
    margin-left: 10px;
    margin-top: 10px;
}
.description{
    margin-left: 30px;
    width: 40%;
    font-size: 20px;
    
}
.sec-two h2{
    color: blue;
    font-weight: bolder;
    margin-bottom: 15px;
    font-size: 2rem;
    margin-top: 30px;
}
.description-title-two{
    margin-left: 20px;
    text-transform: uppercase;
    font-weight:900;
}
.description-para{
    font-size: 1rem;
    text-align: justify;
}

/*-------------------------------------------- FOOTER HTML'S CSS------------------------------ */
footer{
    display: flex;
    background-color: rgb(164, 176, 5);
    height: 200px;
    margin-top: 50px;
    color: rgb(26, 83, 182);
}
.footer-logo{
    padding-top: 50px;
    padding-left: 50px;
}
.f-logo{
    width: 100px;
}
.details{
    margin-left: 20px;
    margin-top: 40px;
    line-height: 2rem;
}
.payment-methods{
    margin-left: 20px;
    margin-top: 40px;
    line-height: 2rem;
}